<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="10">

	<test name="TestMultipleFileCompilation">
		<packages>
			<package name="TestMultipleFileCompilation"/>
		</packages>
	</test>

	<test name="VerifySalesforceTestLoginButton">
		<packages>
			<package name="VerifySalesforceTestLoginButton"/>
		</packages>
	</test>

	<test name="ClickSalesforceTestLoginButton">
		<packages>
			<package name="ClickSalesforceTestLoginButton"/>
		</packages>
	</test>

</suite>
